main {
  display: flex;
}

body {
  margin: 0;
  font-size: 8px;
}

.sidebar {
  box-sizing: border-box;
  width: 500px;
  border-right: 1px solid rgb(214, 211, 208);
  position: sticky;
  top: 0px;
  align-self: start;
  height: 100vh;
  overflow: scroll;
  font-size: 8px;

  .hidden {
    display: none;
  }

  & .sidebar-header {
    height: 25px;
    line-height: 25px;
    display: block;
    border-bottom: 1px solid rgb(214, 211, 208);
    display: flex;
    vertical-align: middle;

    & .sidebar-check-all {
      width: 30px;
      height: 25px;
      line-height: 25px;
      padding: 0 0 0 1em;

      & input[type="checkbox"] {
        height: 2em;
        line-height: 2em;
        padding: 0;
        margin: 0;
      }
    }

    & input[type="text"] {
      height: 100%;
      width: 100%;
      border: none;
      padding: 0 1em;
      font-size: 1em;
      outline: none;
      background: #ececec;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    & li {
      width: 100%;
    }
  }

  & .definition-indent-1 {
    margin-left: calc(15px * 1);
  }

  & .definition-indent-2 {
    margin-left: calc(15px * 2);
  }
}

[data-target="definition-id"] {
  /* 一定の文字列の長さでtrimする */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width: calc(100% - 500px - 300px);

  & .content-header {
    height: 40px;
    display: block;
    border-bottom: 1px solid rgb(214, 211, 208);
  }

  [data-target="definition-graph"] {
    overflow: scroll;
  }
}

.menu {
  box-sizing: border-box;
  width: 300px;
  border-left: 1px solid rgb(214, 211, 208);
  position: sticky;
  top: 0px;
  align-self: start;
  height: 100vh;
  overflow: scroll;
}

#graph {
  width: 100%;
  height: 100%;
}
