main {
  display: flex;
}

body {
  margin: 0;
  font-size: 8px;
}

.sidebar {
  box-sizing: border-box;
  width: 400px;
  border-right: 1px solid rgb(214, 211, 208);
  position: sticky;
  top: 0px;
  align-self: start;
  height: 100vh;
  overflow: scroll;
  font-size: 8px;

  .hidden {
    display: none;
  }

  & .sidebar-header {
    height: 25px;
    line-height: 25px;
    display: block;
    border-bottom: 1px solid rgb(214, 211, 208);
    display: flex;
    vertical-align: middle;

    & .sidebar-check-reset {
      display: inline-block;
      width: 30px;
      height: 25px;
      line-height: 25px;
      padding: 0 0 0 1em;
    }

    & input[type="text"] {
      height: 100%;
      width: 100%;
      border: none;
      padding: 0 1em;
      font-size: 1em;
      outline: none;
      background: #ececec;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    & li {
      width: 100%;
      text-wrap: nowrap;
    }
  }

  & .definition-indent-1 {
    margin-left: calc(15px * 1);
  }

  & .definition-indent-2 {
    margin-left: calc(15px * 2);
  }
}

[data-target="definition-id"] {
  /* 一定の文字列の長さでtrimする */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  width: calc(100% - 400px - 300px);

  & .content-header {
    height: 40px;
    display: block;
    border-bottom: 1px solid rgb(214, 211, 208);
  }

  & [data-target="definition-graph-wrapper"] {
    height: 100%;
  }

  [data-target="definition-graph"] {
    height: 100%;
    overflow: scroll;
  }
}

.aside-content {
  box-sizing: border-box;
  width: 300px;
  border-left: 1px solid rgb(214, 211, 208);
  position: sticky;
  top: 0px;
  align-self: start;
  height: 100vh;
  overflow: scroll;

  & .aside-content-sources {
    header {
      height: 25px;
      line-height: 25px;
      display: block;
      border-bottom: 1px solid rgb(214, 211, 208);
      display: flex;
      vertical-align: middle;
      background: #f5f5f5;

      & h2 {
        margin: 0;
        padding: 0px 15px;
      }
    }

    ul {
      padding-left: 2em;
      overflow-y: scroll;
    }
  }
}

#graph {
  width: 100%;
  height: 100%;
}
